atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
-e git+ssh://git@github.com/agh-c2py/c2py.git@dc5917ae1671a9ddc1a8ef56dd06df1a3601c3a9#egg=c2py
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
lorem==0.1.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pluggy @ file:///D:/bld/pluggy_1648772793723/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pytest==7.1.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
